*{
    margin:0;
    padding:0;
    color:#333;
}
ul,li{list-style: none;}
a{
    text-decoration: none;
}
a:hover{
    color:red;
}
/* *****웹기능사 준비를 위한 공통클.. 높이값주기 */
.h100{height:100px;}
.h300{height:300px;}
.h200{height:200px;}

.d-flex{display: flex !important;}
.jcb{justify-content: space-between !important;}
.aic{align-items: center !important;}

.d-none{display: none;}
.d-block{display: block !important;}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left !important;
}
.text-right{
    text-align: right;
}

.col {flex-grow:1;}
.w-100{width:100%;}

.abs{position: absolute;}
.rel{position: relative;}

.container{width:1200px; margin:0 auto;}


#hd{background-color: yellow; align-items: flex-end; position: relative;}
/* ul#gnb>li.gnbli.gnbli$.rel*4>a.gnba.d-block{대메뉴}+ul.gnbul.abs>li.*4{소메뉴} */

#gnb{}
#gnb>.gnbli{}
#gnb>.gnbli>.gnba{ font-size: 23px; font-weight: bold; padding: 0 20px; line-height: 2;}  /*대메뉴*/
#gnb>.gnbli>.gnbul{ background-color: black; left:0; right:0; line-height: 2; text-indent: 2em; height:0; overflow: hidden; transition: 0.5s;} /*소메뉴*/
#gnb>.gnbli>.gnbul>li{}
#gnb>.gnbli>.gnbul>li>a{ color: white} /*소메뉴글씨*/

/* #gnb>.gnbli:hover>.gnbul{
    max-height: 300px;
} */

#gnb:hover .gnbul{
    height: 180px;
}

#gnb>.gnbli:hover>.gnba{
    color: red;
}

#gnb:before{
    content:"";
    display: block;
    position: absolute;
    left: 0; right: 0;
    top:100%;
    height:0;
    background-color: black;
    transition: 0.5s;
}
#gnb:hover:before{
    height: 180px;
}
.swiper{overflow: hidden;}

.swiper-slide{width:1200px; height:300px}
.red{background-color: red;}
.green{background-color: green;}
.yellow{background-color: yellow;}


.leftright .swiper-wrapper{
    width:1000000px
}

.fade .swiper-slide{
    left:0; top:0;
    opacity: 0;
    transition: 0.5s;
}

.fade .swiper-slide.on{
    opacity: 1;
}